<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Plot Information</a></li>
    <li><a href="#tab2" data-toggle="tab">Other Information</a></li>

  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">
              PlotDetailForm
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div [hidden]="submitted">
              <form #addPlotDetailForm="ngForm">

                <div class="form-group col-md-4">
                  <label for="season">Season (select one):</label>
                  <select class="form-control" id="season" [(ngModel)]="plot.season" name="season" #season="ngModel">

                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>

                </div>

                <div class="form-group col-md-4">
                  <label for="csi">CSI</label>
                  <input type="text" class="form-control" id="csi" placeholder="Enter Csi" required
                    [(ngModel)]="plot.csi" name="csi" #csi="ngModel">
                  <div [hidden]="csi.valid || csi.pristine" class="alert alert-danger">
                    Csi is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="section">Section</label>
                  <input type="text" class="form-control" id="section" placeholder="Enyter Section" required
                    [(ngModel)]="plot.section" name="section" #section="ngModel">
                  <div [hidden]="section.valid || section.pristine" class="alert alert-danger">
                    section is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="offerno">Offer No</label>
                  <input type="text" class="form-control" id="offerno" placeholder="Enter offerno" required
                    [(ngModel)]="plot.offerno" name="offerno" #offerno="ngModel">
                  <div [hidden]="offerno.valid || offerno.pristine" class="alert alert-danger">
                    Offer No is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="offerdate">Offer Date</label>
                  <input type="date" class="form-control" id="offerdate" placeholder="Enter offerdate" required
                    [(ngModel)]="plot.offerdate" name="offerdate" #offerdate="ngModel">
                  <div [hidden]="offerdate.valid || offerdate.pristine" class="alert alert-danger">
                    Offer Date is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="planteddate">Planted Date</label>
                  <input type="date" class="form-control" id="planteddate" placeholder="Enter planteddate" required
                    [(ngModel)]="plot.planteddate" name="planteddate" #planteddate="ngModel">
                  <div [hidden]="planteddate.valid || planteddate.pristine" class="alert alert-danger">
                    Planted Date is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="plottype">Plot Type (select one):</label>
                  <select class="form-control" id="plottype" id="plottype" [(ngModel)]="plot.plottype" name="plottype"
                    #plottype="ngModel">

                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="plotno">Plot text</label>
                  <input type="text" class="form-control" id="plotno" placeholder="Enter PlotNo" required
                    [(ngModel)]="plot.plotno" name="plotno" #plotno="ngModel">
                  <div [hidden]="plotno.valid || plotno.pristine" class="alert alert-danger">
                    Plot text is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="ryot">Ryot</label>
                  <input type="text" class="form-control" id="ryot" placeholder="Enter ryot" required
                    [(ngModel)]="plot.ryot" name="ryot" #ryot="ngModel">
                  <div [hidden]="ryot.valid || ryot.pristine" class="alert alert-danger">
                    Ryot is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="village">Village</label>
                  <input type="text" class="form-control" id="village" placeholder="Enter village" required
                    [(ngModel)]="plot.village" name="village" #village="ngModel">
                  <div [hidden]="village.valid || village.pristine" class="alert alert-danger">
                    Village is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="distance">Distance</label>
                  <input type="text" class="form-control" id="distance" placeholder="Enter distance" required
                    [(ngModel)]="plot.distance" name="distance" #distance="ngModel">
                  <div [hidden]="distance.valid || distance.pristine" class="alert alert-danger">
                    Distance is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="rationtype">Plot/Ration Type (select one):</label>
                  <select class="form-control" id="rationtype" id="rationtype" [(ngModel)]="plot.rationtype"
                    name="rationtype" #plottype="ngModel">

                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>

                <div class="form-group col-md-4">
                  <label for="agreementacre">Agreement Acre</label>
                  <input type="text" class="form-control" id="agreementacre" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="plot.agreementacre" name="agreementacre" #agreementacre="ngModel">
                  <div [hidden]="agreementacre.valid || agreementacre.pristine" class="alert alert-danger">
                    Agreement Acre is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="agreementedtonne">Agreemented Tonne</label>
                  <input type="text" class="form-control" id="agreementedtonne" placeholder="Enter Agreement Acre"
                    required [(ngModel)]="plot.agreementedtonne" name="agreementedtonne" #agreementedtonne="ngModel">
                  <div [hidden]="agreementedtonne.valid || agreementedtonne.pristine" class="alert alert-danger">
                    Agreemented Tonne is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="measuredarea">Measured Area</label>
                  <input type="text" class="form-control" id="measuredarea" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="plot.measuredarea" name="measuredarea" #measuredarea="ngModel">
                  <div [hidden]="measuredarea.valid || measuredarea.pristine" class="alert alert-danger">
                    Measured Area is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="guarantor1">Guarantor1</label>
                  <input type="text" class="form-control" id="guarantor1" placeholder="Enter Guarantor1" required
                    [(ngModel)]="plot.guarantor1" name="guarantor1" #guarantor1="ngModel">
                  <div [hidden]="guarantor1.valid || guarantor1.pristine" class="alert alert-danger">
                    Guarantor1 is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="guarantor2">Guarantor2</label>
                  <input type="text" class="form-control" id="guarantor2" placeholder="Enter Guarantor2" required
                    [(ngModel)]="plot.guarantor2" name="guarantor2" #guarantor2="ngModel">
                  <div [hidden]="guarantor2.valid || guarantor2.pristine" class="alert alert-danger">
                    Guarantor2 is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="guarantorname">Guarantor Name</label>
                  <input type="text" class="form-control" id="guarantorname" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="plot.guarantorname" name="guarantorname" #guarantorname="ngModel">
                  <div [hidden]="guarantorname.valid || guarantorname.pristine" class="alert alert-danger">
                    Guarantor Name is required
                  </div>
                </div>




                <div class="btn-group btn-group-sm col-md-12">
                  <button type="button" class="btn btn-primary" (click)="addPlotDetailForm.reset()">Clear</button>
                  <button type="button" class="btn btn-primary" (click)="addPlotdetail()"
                    [disabled]="!addPlotDetailForm.form.valid">Save</button>
                </div>
              </form>
            </div>
            <div [hidden]="!submitted" class="col-md-12">
              <!-- <p>Submitted Successfully! -> 
                     <span class="badge badge-light">{{plot.season}}  {{plot.csi}}  {{plot.section}}</span>
                    </p> -->
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
                <button type="button" class="btn btn-primary"
                  (click)="newPlot(); addPlotDetailForm.reset()">Continue</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo">
              RyotDetailForm
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div [hidden]="submitted">
              <form #addRyotDetailForm="ngForm">



                <div class="form-group col-md-4">
                  <label for="ryotcode">Ryot Code</label>
                  <input type="text" class="form-control" id="ryotcode" placeholder="Enter ryotcode" required
                    [(ngModel)]="ryot.ryotcode" name="ryotcode" #ryotcode="ngModel">
                  <div [hidden]="ryotcode.valid || ryotcode.pristine" class="alert alert-danger">
                    Ryot Code is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="ryotname">Ryot Name</label>
                  <input type="text" class="form-control" id="ryotname" placeholder="Enyter ryotname" required
                    [(ngModel)]="ryot.ryotname" name="ryotname" #ryotname="ngModel">
                  <div [hidden]="ryotname.valid || ryotname.pristine" class="alert alert-danger">
                    Ryot Name is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="grouprefno">Group Ref No</label>
                  <input type="text" class="form-control" id="grouprefno" placeholder="Enter grouprefno" required
                    [(ngModel)]="ryot.grouprefno" name="grouprefno" #grouprefno="ngModel">
                  <div [hidden]="grouprefno.valid || grouprefno.pristine" class="alert alert-danger">
                    Group Ref No is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="fwgname">F/W/G Name</label>
                  <input type="text" class="form-control" id="fwgname" placeholder="Enter fwgname" required
                    [(ngModel)]="ryot.fwgname" name="fwgname" #fwgname="ngModel">
                  <div [hidden]="fwgname.valid || fwgname.pristine" class="alert alert-danger">
                    F/W/G Name is required
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="villagecode">Village Code</label>
                  <input type="text" class="form-control" id="villagecode" placeholder="Enter villagecode" required
                    [(ngModel)]="ryot.villagecode" name="villagecode" #villagecode="ngModel">
                  <div [hidden]="villagecode.valid || villagecode.pristine" class="alert alert-danger">
                    Village Code is required
                  </div>
                </div>


                <div class="form-group col-md-4">
                  <label for="villagename">Village Name</label>
                  <input type="text" class="form-control" id="villagename" placeholder="Enter villagename" required
                    [(ngModel)]="ryot.villagename" name="villagename" #villagename="ngModel">
                  <div [hidden]="villagename.valid || villagename.pristine" class="alert alert-danger">
                    Village Name is required
                  </div>
                </div>


                <div class="form-group col-md-4">
                  <label for="mandalcode">Mandal Code</label>
                  <input type="text" class="form-control" id="mandalcode" placeholder="Enter mandalcode" required
                    [(ngModel)]="ryot.mandalcode" name="mandalcode" #mandalcode="ngModel">
                  <div [hidden]="mandalcode.valid || mandalcode.pristine" class="alert alert-danger">
                    Mandal Code is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="mandalname">Mandal Name</label>
                  <input type="text" class="form-control" id="mandalname" placeholder="Enter mandalname" required
                    [(ngModel)]="ryot.mandalname" name="mandalname" #mandalname="ngModel">
                  <div [hidden]="mandalname.valid || mandalname.pristine" class="alert alert-danger">
                    Mandal Name is required
                  </div>
                </div>


                <div class="form-group col-md-4">
                  <label for="csicode">CSI Code</label>
                  <input type="text" class="form-control" id="csicode" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.csicode" name="csicode" #csicode="ngModel">
                  <div [hidden]="csicode.valid || csicode.pristine" class="alert alert-danger">
                    CSI Code is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="csiname">CSI Name</label>
                  <input type="text" class="form-control" id="csiname" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.csiname" name="csiname" #csiname="ngModel">
                  <div [hidden]="csiname.valid || csiname.pristine" class="alert alert-danger">
                    CSI Name is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="sectioncode">Section Code</label>
                  <input type="text" class="form-control" id="sectioncode" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.sectioncode" name="sectioncode" #sectioncode="ngModel">
                  <div [hidden]="sectioncode.valid || sectioncode.pristine" class="alert alert-danger">
                    Section Code is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="sectionname">Section Name</label>
                  <input type="text" class="form-control" id="sectionname" placeholder="Enter sectionname" required
                    [(ngModel)]="ryot.sectionname" name="sectionname" #sectionname="ngModel">
                  <div [hidden]="sectionname.valid || sectionname.pristine" class="alert alert-danger">
                    Section Name is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="literarystatus">Literary Status</label>
                  <input type="text" class="form-control" id="literarystatus" placeholder="Enter literarystatus"
                    required [(ngModel)]="ryot.literarystatus" name="literarystatus" #literarystatus="ngModel">
                  <div [hidden]="literarystatus.valid || literarystatus.pristine" class="alert alert-danger">
                    Literary Status is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.email" name="email" #email="ngModel">
                  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    Email is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="address1">Address1</label>
                  <input type="text" class="form-control" id="address1" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.address1" name="address1" #address1="ngModel">
                  <div [hidden]="address1.valid || address1.pristine" class="alert alert-danger">
                    Address1 is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="address2">Address2</label>
                  <input type="text" class="form-control" id="address2" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.address2" name="address2" #address2="ngModel">
                  <div [hidden]="address2.valid || address2.pristine" class="alert alert-danger">
                    Address2 is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.city" name="city" #city="ngModel">
                  <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                    City is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="paymode">Paymode</label>
                  <input type="text" class="form-control" id="paymode" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.paymode" name="paymode" #paymode="ngModel">
                  <div [hidden]="paymode.valid || paymode.pristine" class="alert alert-danger">
                    Paymode is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="landno">Land No.</label>
                  <input type="text" class="form-control" id="landno" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.landno" name="landno" #landno="ngModel">
                  <div [hidden]="landno.valid || landno.pristine" class="alert alert-danger">
                    Land No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="mobileno">Mobile No.</label>
                  <input type="text" class="form-control" id="mobileno" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.mobileno" name="mobileno" #mobileno="ngModel">
                  <div [hidden]="mobileno.valid || mobileno.pristine" class="alert alert-danger">
                    Mobile No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="bankcode">Bank Code</label>
                  <input type="text" class="form-control" id="bankcode" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.bankcode" name="bankcode" #bankcode="ngModel">
                  <div [hidden]="bankcode.valid || bankcode.pristine" class="alert alert-danger">
                    Bank Code is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="bankname">Bank Name</label>
                  <input type="text" class="form-control" id="bankname" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.bankname" name="bankname" #bankname="ngModel">
                  <div [hidden]="bankname.valid || bankname.pristine" class="alert alert-danger">
                    Bank Name is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="sbacno">SB A/C No.</label>
                  <input type="text" class="form-control" id="sbacno" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.sbacno" name="sbacno" #sbacno="ngModel">
                  <div [hidden]="sbacno.valid || sbacno.pristine" class="alert alert-danger">
                    SB A/C No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="loanacno">Loan A/C No.</label>
                  <input type="text" class="form-control" id="loanacno" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.loanacno" name="loanacno" #loanacno="ngModel">
                  <div [hidden]="loanacno.valid || loanacno.pristine" class="alert alert-danger">
                    Loan A/C No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="ledgerno">Ledger No.</label>
                  <input type="text" class="form-control" id="ledgerno" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.ledgerno" name="ledgerno" #ledgerno="ngModel">
                  <div [hidden]="ledgerno.valid || ledgerno.pristine" class="alert alert-danger">
                    Ledger No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="loanaccountledgerno">Loan Account Ledger No.</label>
                  <input type="text" class="form-control" id="loanaccountledgerno" placeholder="Enter Agreement Acre"
                    required [(ngModel)]="ryot.loanaccountledgerno" name="loanaccountledgerno"
                    #loanaccountledgerno="ngModel">
                  <div [hidden]="loanaccountledgerno.valid || loanaccountledgerno.pristine" class="alert alert-danger">
                    Loan Account Ledger No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="foliono">Folio No.</label>
                  <input type="text" class="form-control" id="foliono" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.foliono" name="foliono" #foliono="ngModel">
                  <div [hidden]="foliono.valid || foliono.pristine" class="alert alert-danger">
                    Folio No. is required
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="loanacfoliono">Loan A/C Folio No.</label>
                  <input type="text" class="form-control" id="loanacfoliono" placeholder="Enter Agreement Acre" required
                    [(ngModel)]="ryot.loanacfoliono" name="loanacfoliono" #loanacfoliono="ngModel">
                  <div [hidden]="loanacfoliono.valid || loanacfoliono.pristine" class="alert alert-danger">
                    Loan A/C Folio No. is required
                  </div>
                </div>
                <!-- <div class="form-group col-md-4">
                      <label for="getpictureurl">Get Picture Url</label>
                      <input type="text" class="form-control" id="getpictureurl" placeholder="Enter Agreement Acre" required
                        [(ngModel)]="ryot.getpictureurl" name="getpictureurl" #getpictureurl="ngModel">
                      <div [hidden]="getpictureurl.valid || getpictureurl.pristine" class="alert alert-danger">
                          Get Picture Url is required
                      </div>
                    </div> -->




                <div class="btn-group btn-group-sm col-md-12">
                  <button type="button" class="btn btn-primary" (click)="addRyotDetailForm.reset()">Clear</button>
                  <button type="button" class="btn btn-primary" (click)="addRyotDetail()"
                    [disabled]="!addRyotDetailForm.form.valid">Save</button>
                </div>
              </form>
            </div>
            <div [hidden]="!submitted" class="col-md-12">
              <!-- <p>Submitted Successfully! -> 
                       <span class="badge badge-light">{{ryot.season}}  {{ryot.ryotcode}}  {{ryot.ryotname}}</span>
                      </p> -->
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
                <button type="button" class="btn btn-primary"
                  (click)="newRyot(); addRyotDetailForm.reset()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>